<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form th:action="@{/logout}" method="post">
    <button type="submit">Log Out</button>
</form>
<p>What's up admin?</p>

<h2>New User</h2>
<form method="post" th:action="@{/admin/new_user}">
    <label> Username
        <input type="text" name="username">
    </label>
    <br>
    <label> Password
        <input type="password" name="password">
    </label>
    <br>
    <label> Role
        <select name="role" id="cars">
            <option value="ADMIN">Admin</option>
            <option value="MANAGER">Manager</option>
            <option value="TECHNICIAN">Technician</option>
            <option value="CUSTOMER">Customer</option>
        </select>
    </label>
    <br>
    <input type="submit">
</form>

<h2>Users</h2>
<table>
    <thead>
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Role</th>
        <th>PW Hash</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="user : ${users}">
        <td th:text="${user.id}"></td>
        <td th:text="${user.username}"></td>
        <td th:text="${user.role}"></td>
        <td th:text="${user.password_hash}"></td>
    </tr>
    </tbody>
</table>

</body>
</html>