<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form th:action="@{/logout}" method="post">
    <button type="submit">Log Out</button>
</form>
<p>Hi, customer! Thanks for doing business with us :-)</p>

<div th:if="${message}">
    <h3>Message:</h3><h3 th:text="${message}"></h3>
</div>

<!-- TODO: need to add form with the ability to add <input> entries that have the correct names of
        products that exist in the DB. Needs to look like this:
        <input type="number" name="quantities['apples']" value="10" />
        where "apples" is the name of a product. Though, it would be more robust to use the
        product ID, name may work just as a first approach.
        The idea is to create a <select> element within a separate that enumerates the allowed products,
        and has an "add" button, which will add the <input> element to the actual order form.
-->
<h2>Products (DEBUG)</h2>
<table>
    <thead>
    <tr>
        <th>Name</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="product : ${products}">
        <td th:text="${product.name}"></td>
    </tr>
    </tbody>
</table>


<h2>New Order</h2>
<label> Add item to order:
    <select id="product_select">
        <option value="" disabled selected>Choose an item...</option>
        <option th:each="item : ${products}"
                th:value="${item.id}"
                th:text="${item.name}">Item Name</option>
    </select>
</label>
<form id="order_form" method="post" th:action="@{/customer/new_order}">
    <input type="submit">
</form>






<h2>Orders</h2>
<table>
    <thead>
    <tr>
        <th>ID</th>
<!--        <th>Name</th>-->
<!--        <th>Type</th>-->
<!--        <th>Price</th>-->
    </tr>
    </thead>
    <tbody>
    <tr th:each="order : ${orders}">
        <td th:text="${order.id}"></td>
<!--        <td th:text="${product.name}"></td>-->
<!--        <td th:text="${product.type}"></td>-->
<!--        <td th:text="${product.price}"></td>-->
    </tr>
    </tbody>
</table>

<h2>Get User Info</h2>
<form method="post" th:action="@{/customer/info}">
    <input type="hidden" name="userID" th:value="${userID}">
    <input type="submit">
</form>


<script type="text/javascript" th:src="@{/js/product.js}"></script>
</body>
</html>